<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>lab2-home</title>
  </head>
  <style>
  body{
     text-align: center; 
  }
  </style>
          <body>
               <nav>
                  <nav class="navbar navbar-white bg-white">
                    <a class="navbar-brand" href="index.html">
                    <img src="images/icon/home.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                     Главная
                     </a>
                     <a class="navbar-brand" href="news.html">
                     <img src="images/icon/news.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                     Новости
                     </a>
                     <a class="navbar-brand" href="rozklad.html">
                     <img src="images/icon/rozklad.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                     Расписание
                     </a>
                     <a class="navbar-brand" href="photo.html">
                     <img src="images/icon/photo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                     Фото
                     </a>
                </nav>
                      <section>

                        <h1 class="display-1">Биография</h1>
                        <div class="container">
                        <div class="row">
                        <div class="col-sm-4" ><p class="h4">
                        <!-- Button trigger modal -->
                   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <p class="h4">Акаунт Facebook</p>
                   </button>
                          <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Facebook</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                   </button>
                        </div>
                        <div class="modal-body">         
                        <img  style="width:130px"; src="images/zuck-logo.jpg" class="round">
                        <div id="zuck">
                        <p>{{ message }}</p>
                        </div>
                        </div>
                        <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <a href="https://www.facebook.com/zuck"> <button type="button" class="btn btn-primary">Перейти</button></a>
                        </div>
                        </div>
                        </div>
                        </div>    
                        </div>
                        <div class="col-sm-4"><img src="images/zuk.png" id="images"></div>
                        <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                        <p class="h4">Акаунт Wiki</p>
                   </button>
                                <!-- Modal -->
                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Wiki</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                   </button>
                        </div>
                        <div class="modal-body">
                        <img  style="width:130px"; src="images/wiki.png" class="round">
                        <div id="wiki">
                        <p>{{ message }}</p>
                        </div>                           
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <a href="https://ru.wikipedia.org/wiki/%D0%A6%D1%83%D0%BA%D0%B5%D1%80%D0%B1%D0%B5%D1%80%D0%B3,_%D0%9C%D0%B0%D1%80%D0%BA"> <button type="button" class="btn btn-primary">Перейти</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
     <br><br>       
          <div class="container">
          <div class="row">
          <div class="col-sm-4" id="app"><p class="h4">{{ message }}</div>
          <div class="col-sm-4" id="app2"><p class="h4">{{ message }}</div>
          <div class="col-sm-4" id="app3"><p class="h4">{{ message }}</div>
          </div>
          </div>
     <br>
          <div class="container">
              <div class="row">
              <div class="col-sm-4" id="app4"><p class="h4">{{ message }}</div>
              <div class="col-sm-4" id="app5"><p class="h4">{{ message }}</div>
              <div class="col-sm-4" id="app6"><p class="h4">{{ message }}</div>
              </div>
              </div>
  </section>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>
</html>