// Экстрамалые девайсы («портретные телефоны», < 576px)
@media (max-width: 575.98px) { ... }

// Малые девайсы («ландшафтные», >= 575px)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Средние девайсы («таблетки», >= 768px) 
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Большие девайсы (большие десктопы, >= 992px)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Большие девайсы (большие десктопы, >= 1200px)
@media (min-width: 1200px) { ... }

@font-face {
    font-family: 'Roboto', sans-serif;

}


body{
    background-color: #fff;
    font-family: 'Caveat', cursive;
      
}


 /*  позиция навигации  */

}

#img{

    width: 400px;
    height: 400px;
}

#text-format{
    text-align: right;
    width: 50%;
}

#div{
    float: left;
    margin-right: 10%; /* Отступ справа */
    width: 54%; /* Ширина блока */
}

.round {
    -moz-border-radius: 100px; /* Firefox */
    -webkit-border-radius: 100px; /* Safari, Chrome */
    -khtml-border-radius: 100px; /* KHTML */
    border-radius: 100px; /* CSS3 */
    behavior: url(border-radius.htc); /*IE */
   }

.d-block.w-100{
    width: 200px;
    height: 200px;

}




